
  .competency-tree__dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    position: relative;
    font-size: 1rem;
    background-color: var(--ct-background, #fff);
    border-radius: 4px;
    max-height: 2.5rem;
    box-sizing: border-box;
  }
  
  .competency-tree__dropdown--disabled {
    background-color: var(--ct-background, #fff);
    border: 1px solid var(--ct-disabled, #7e899a);
    color: var(--ct-disabled, #7e899a);
    cursor: not-allowed;
  }
  
  .competency-tree__input {
    width: 100%;
    font-size: 1rem;
    background-color: var(--ct-background, #fff);
    cursor: pointer;
    border: 0;
    outline: none;
  }
  
  .competency-tree__input--disabled {
    background-color: var(--ct-background, #fff);
    color: var(--ct-disabled, #7e899a);
    cursor: not-allowed;
  }
  
  .competency-tree__text {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
  }
  
  .competency-tree__text--disabled {
    cursor: not-allowed;
  }
  
  .competency-tree__icon {
    min-width: 1.5rem;
    cursor: pointer;
  }
  
  .competency-tree__icon--disabled {
    cursor: not-allowed;
  }
  
  .competency-tree__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    right: 0;
    background-color: var(--ct-background, #fff);
    margin-top: 0.25rem;
    box-shadow: var(--ct-menu-shadow, 0px 0px 8px 0px rgba(45, 50, 57, 0.1));
    z-index: 300;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid var(--ct-background, #fff);
    padding: 8px 0;
  }
  
  .competency-tree__menu-nodata {
    text-align: left;
    padding: 8px 16px;
  }
  .competency-tree__menu-checkbox-all {
    padding: 8px 16px;
  }

  .competency-tree__checkbox-wrapper {
    display: flex;
    align-items: center;
  }
  
  .competency-tree__checkbox-label {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
    align-items: center;
  }
  
  .competency-tree__checkbox-input {
    display: none;
  }
  
  .competency-tree__checkbox-box {
    height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }
  
  .competency-tree__checkbox-box--checked {
    background-color: var(--ct-checkbox-checked,#27ae60);
    border: none;
  }
  
  .competency-tree__checkbox-box--unchecked {
    border: 1px solid var(--ct-border, #ebeff5);
    background-color: var(--ct-background, #fff);
  }
  
  .competency-tree__checkbox-indeterminate {
    width: 100%;
    height: 100%;
  }
  
  .competency-tree__checkbox-checked {
    width: 100%;
    height: 100%;
  }
  
  .competency-tree__checkbox-label-text {
    font-size: 1rem;
  }
  .competency-tree__node {
    display: flex;
    flex-direction: column;
  }
  
  .competency-tree__node-header {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    align-items: center;
  }
  
  .competency-tree__chevron {
    transform: rotate(0deg);
    transition: transform 0.2s;
    cursor: pointer;
    user-select: none;
  }
  
  .competency-tree__chevron--rotated {
    transform: rotate(90deg);
  }
  
  .competency-tree__node-children {
    display: grid;
    padding-left: 0.5rem;
  }
  
  .competency-tree__child {
    order: 2;
  }
  
  .competency-tree__child--leaf {
    order: 1;
  }
  
  .competency-tree__leaf-checkbox {
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }